:host
  display: block

/* colors */
$grey = #505052
$light-blue = #0090fc
$dark-blue = #004CF4
$orange = pink

/* fonts */
$main-font = sans-serif 

/* persistent navbar */
nav
  z-index: 1
  height: 3.5em
  width: 100%
  font-size: 1.3em
  font-family: $main-font
  word-spacing: 1em
  line-height: 3.5em
  padding: 1em
  position: fixed
  top: 0
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1)
  background: white
  display: table

/* links */ 
a 
  text-decoration: none 
  color: $grey
  &:hover
    color: $dark-blue

#nav-links
  float: right
  margin-right: 2em

#menu-container 
  display: table-cell
  vertical-align middle

#menu-icon 
  color: $dark-blue
  cursor: pointer
  font-weight lighter
  font-size 1.3em

#logo
  color: $grey
  word-spacing: 0
  font-size: 1.2em
  font-weight bold
  margin-left: -0.7em
   
#home 
  height: 100vh
  position: relative
  margin-bottom: 15em

#welcome-container 
  position: absolute
  top: 55%
  left: 50%
  transform: translate(-50%, -50%)
  & h1 
    font: lighter 1.7em $main-font
    color: $dark-blue
    width: 10em

#about
  height: 100vh
  font-family: $main-font 
  background: $light-blue
  color: white

#about-container 
  position: absolute
  top: 55%
  left: 50%
  transform: translate(-50%, -50%)
  & p 
    width: 16em
    font-size: 1em
    line-height: 1.5em

#work 
  height: 100vh
  background: white
  color: white

/* media queries */

/* collapses nav-bar when smaller than 1110px */ 
@media screen and (max-width: 768px) 
  #nav-links
    display: none

@media screen and (min-width: 425px)
  #logo 
    font-size: 1.5em

@media screen and (min-width: 600px)
  #welcome-container h1
    font-size: 2em
    width: 12em

  #about-container p
    width: 25em

@media screen and (min-width: 768px)
  #welcome-container h1
    font-size: 2.5em

  #about-container p
    font-size: 1.3em

@media screen and (min-width: 1024px)
  #welcome-container h1
    width: 25em
    text-align: center;

  #about-container p
   width: 30em

  
